{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset = "UTF-8">
    <title>欢迎页面</title>
    <meta name = "renderer" content = "webkit">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1">
    <meta name = "viewport"
          content = "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel = "stylesheet" href = "{% static 'background/css/font.css' %}">
    <link rel = "stylesheet" href = "{% static 'background/css/weadmin.css' %}">
</head>

<body>
<div class = "weadmin-body">
    <form class = "layui-form">
        <div class = "layui-form-item">
            <label for = "L_username" class = "layui-form-label">
                <span class = "we-red">*</span>用户名
            </label>
            <div class = "layui-input-inline">
                <input type = "text" id = "L_username" name = "username" autocomplete = "off"
                       class = "layui-input layui-disabled" readonly = "readonly">
            </div>
        </div>
        <div class = "layui-form-item">
            <label for = "L_name" class = "layui-form-label">
                <span class = "we-red">*</span>姓名
            </label>
            <div class = "layui-input-inline">
                <input type = "text" id = "L_name" name = "name" lay-verify = "required" autocomplete = ""
                       class = "layui-input">
            </div>
        </div>
        <div class = "layui-form-item">
            <label for = "L_phone" class = "layui-form-label">
                <span class = "we-red">*</span>手机
            </label>
            <div class = "layui-input-inline">
                <input type = "text" id = "L_phone" name = "phone" lay-verify = "required|phone" autocomplete = ""
                       class = "layui-input">
            </div>
        </div>
        <div class = "layui-form-item">
            <label for = "L_email" class = "layui-form-label">
                <span class = "we-red">*</span>邮箱
            </label>
            <div class = "layui-input-inline">
                <input type = "text" id = "L_email" name = "email" lay-verify = "email" autocomplete = "off" class = "layui-input">
            </div>
        </div>
        <div class = "layui-form-item">
            <div class = "layui-inline">
                <label class = "layui-form-label"><span class = "we-red">*</span>角色</label>
                <div class = "layui-input-inline">
                    <select id = "role" lay-verify = "required" lay-search = "">
                        <option value = "">选择角色</option>
                        <option value = "0" disabled = "">超级管理员</option>
                        <option value = "1">编辑人员</option>
                        <option value = "2">审核人员</option>
                    </select>
                </div>
            </div>
        </div>
        <div class = "layui-form-item">
            <label for = "L_repass" class = "layui-form-label">
            </label>
            <button class = "layui-btn" lay-filter = "edit" lay-submit = "">确定</button>
            <input type = "hidden" name = "dataId" id = "dataId" value = "" />
        </div>
        {% csrf_token %}
    </form>
</div>
<script src = "{% static 'background/lib/layui/layui.js' %}" charset = "utf-8"></script>
<script type = "text/javascript" src = "{% static 'background/js/administrator/edit.js' %}"></script>
</body>

</html>