{% load static %}
<!doctype html>
<html>
<head>
    <meta charset = "utf-8">
    <title>杭州师范大学-杭师人物</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1" />
    <link href = "{% static '/css/base.css' %}" rel = "stylesheet" type = "text/css">

    <link href = "{% static '/css/inner.css' %}" rel = "stylesheet" type = "text/css">
    <script src = "{% static '/js/jquery-1.8.3.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static '/css/slick.css' %}">
    <script src = "{% static '/js/slick.min.js' %}" type = "text/javascript"></script>

    <link rel = "stylesheet" href = "{% static '/css/owl.carousel.css' %}">

</head>
<body>
<header class = "clearfix">
    <section class = "mainWrap">
        <div class = "topwraper relative clearfix">
            <div class = "ulink">
                <ul class = "clearfix">
                    <li class = "socialnet">
                        <a href = "https://weibo.com/u/1743321831?is_hot=1" class = "circle" title = "微博" target = "_blamk"><img src = "" data-src = "/static/images/weibo.png" class = "circle"></a>
                    <li class = "socialnet">
                        <a href = "javascript:;" class = "circle" title = "微信"><img src = "" data-src = "/static/images/weixin.png" class = "circle"></a>
                        <div class = "socialwraper">
                            <i><em></em></i><img src = "" data-src = "/static/images/weixinpg.png" width = "150px">
                        </div>
                    </li>
                    </li>
                    <li class = "socialnet">
                        <a href = "https://lib.hznu.edu.cn/" class = "circle" title = "图书馆"><img src = "" data-src = "/static/images/book.png" class = "circle"></a>
                    </li>
                    <li class = "mr"><a href = "https://english.hznu.edu.cn/" class = "en" target = "_blank">ENGLISH</a>
                    </li>
                    <li class = "mr"><a href = "#" class = "en" target = "_blank">杭师主页</a></li>
                </ul>
            </div>
            <a href = "#" class = "logo"><img src = "/static/images/logo.png" alt = "logo"></a>


            <nav class = "navwrap yahei">
                <section class = "mainWrap">
                    <div id = "smenu" class = "smenu"><i class = "thunews-bars"></i></div>
                    <ul id = "nav">
                        <li><a href = "/home" class = "item0">首页</a></li>
                        <li><a href = "/xinWen" class = "item0">新闻聚焦</a></li>
                        <li><a href = "/xiaoYuan" class = "item0">学科建设</a></li>
                        <li><a href = "/renWu" class = "item0">杭师人物</a></li>
                        <li><a href = "/picture" class = "item0">图说杭师</a></li>
                    </ul>
                </section>
            </nav>

            <!--	 <a href="javascript:;" onclick="searchSub();"><i class="thunes-search"></i></a>-->

        </div>
    </section>
</header>


<div class = "content yahei subchannel">
    <div class = "mainWrap clearfix">
        <section class = "colunm1">
            <h2 class = "channeltitle noborder hideonpc">清华人物</h2>
            <div class = "biggallery">


            </div>
            <ul class = "picnewslist people">

                <li class = "clearfix">
                    <figure>
                        <a class = "picwraper" href = "https://www.hznu.edu.cn/c/2019-12-17/2287032.shtml" target = "_blank">
                            <img src = "" data-src = "/static/images/zhanghangjun.jpg">
                        </a>
                        <div class = "contentwraper">

                            <figcaption>
                                <span class = "tips" id = "keyword-1">人物</span><a href = "https://www.hznu.edu.cn/c/2019-12-17/2287032.shtml" target = "_blank" id = "title-1" class = "jiequ">【人物】张杭君：获“2019年浙江省有突出贡献青年科技人才”称号</a>
                            </figcaption>
                            <p>
                                <script language = "javascript" type = "text/javascript">cutSummary("近日，浙江省科学技术协会公布2019年浙江省有突出贡献青年科技人才名单，我校生命与环境科学学院张杭君教授入选。据悉，浙江省有突出贡献青年科技人才选拨工作每两年开展一次，在“重实绩、重成果、重贡献”的原则下，旨在激发广大青年科技工作者的创新创造热情，表扬为我省经济建设、社会发展和科技进步做出突出贡献的青年科技人才。此次全省共20位优秀专业技术人才和高技能人才获得该荣誉。", 180);</script>
                            </p>
                            <div class = "thumb"><i class = "thunews-clock-o"></i>2019.12.02
                                <i class = "thunews-eye"></i><font id = "font_itemlist_total_20191202085856601447651"><span id = "itemlist_total_20191202085856601447651"></span></font>
                            </div>
                        </div>
                    </figure>
                </li>

                <li class = "clearfix">
                    <figure>
                        <a class = "picwraper" href = "http://xiaoyou.hznu.edu.cn/other/viewnews?id=7134l" target = "_blank">
                            <img src = "" data-src = "/static/images/zhangrenshang.jpg">
                        </a>
                        <div class = "contentwraper">

                            <figcaption>
                                <span class = "tips" id = "keyword-2">人物</span><a href = "http://xiaoyou.hznu.edu.cn/other/viewnews?id=7134" target = "_blank" id = "title-2" class = "jiequ">【人物】天台街头中学校长张仁赏：克勤克己，草根校长撑起一片天</a>
                            </figcaption>
                            <p>
                                <script language = "javascript" type = "text/javascript">cutSummary("他，是大山里走出来的孩子，凭借着自己的聪慧和努力，以优异的成绩考取了当时的杭师院体育系。最初的他只是一名普通的文科生，为了回报哺育他的家乡，他毅然选择了教师的生涯。在漫漫求学路上，他用汗水诠释了什么是自强不息，顽强奋斗。1986年毕业的他，顺利回到自己的家乡，扎根农村教育。由政教主任到校长助理，再到校长，27年来，风雨兼程，他仍一路向前。为改变低效的农村教学现状，他自主钻研、大胆创新，探索出了“三段六步”高效课堂教学模式，为天台街头中学创造了一次次辉煌，改写了一个个不可能！他用饱满的工作热情，钢铁般不屈的品质，向我们证明了“一切皆有可能”！他就是我校优秀校友，天台街头中学校长——张仁赏。", 180);</script>
                            </p>
                            <div class = "thumb"><i class = "thunews-clock-o"></i>2019.11.20
                                <i class = "thunews-eye"></i><font id = "font_itemlist_total_20191120105038377566842"><span id = "itemlist_total_20191120105038377566842"></span></font>
                            </div>
                        </div>
                    </figure>
                </li>


                <li class = "clearfix">
                    <figure>
                        <a class = "picwraper" href = "http://xiaoyou.hznu.edu.cn/other/viewnews?id=7148" target = "_blank">
                            <img src = "" data-src = "/static/images/lifuqiang.jpg">
                        </a>
                        <div class = "contentwraper">

                            <figcaption>
                                <span class = "tips" id = "keyword-3">人物</span><a href = "http://xiaoyou.hznu.edu.cn/other/viewnews?id=7148" target = "_blank" id = "title-3" class = "jiequ">【人物】浙江省“千人计划”人选、澳赛诺化工有限公司董事长金富强：功在我手，用信念支起一片天</a>
                            </figcaption>
                            <p>
                                <script language = "javascript" type = "text/javascript">cutSummary("他风度翩翩，在科研室里尽显身手；他才能卓越，在商场上金戈铁马；他踏实肯干，在社会中提升价值。数风流人物，还看今朝。他就是我校知名校友，同时也是澳赛诺化工有限公司董事长——金富强。走进他的办公室，映入眼帘的是简简单单的布局，我们可以想象到他为了工作和研究而在这里日夜奋战且不懈努力的身影。", 180);</script>
                            </p>
                            <div class = "thumb"><i class = "thunews-clock-o"></i>2019.10.31
                                <i class = "thunews-eye"></i><font id = "font_itemlist_total_20191029161652878588253"><span id = "itemlist_total_20191029161652878588253"></span></font>
                            </div>
                        </div>
                    </figure>
                </li>

            </ul>


            <!--<a id="mobilemore" class="mobilemore" href="javascript:;">... 加载更多 ...</a>-->    </section>
        <section class = "colunm2">

            <section class = "mod">
                <h2><a href = "/publish/thunews/9652/index.html" class = "more" target = "_blank">更多
                    &#8250;</a><span class = "iconwraper"><img src = "" data-src = "/static/images/hang.png" class = "new"><i class = "thunews-picture-o"></i></span>杭师风光
                </h2>

                <div class = "slidegallery">
                    <ul id = "thunews_tsqh">
                        <li class = "active"><a><img src = "/static/images/tu1.jpg"></a></li>
                        <li><a><img src = "" data-src = "/static/images/tu1.jpg"></a></li>
                        <li><a><img src = "" data-src = "/static/images/tu1.jpg"></a></li>
                        <li><a><img src = "" data-src = "/static/images/tu1.jpg"></a></li>
                    </ul>
                </div>
                <script type = "text/javascript">

                    $(function () {

                        $('.mod .slidegallery #thunews_tsqh').slick({
                            infinite: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            centerMode: false,
                            prevArrow: "<div class=\"sliderbutton prev\"><i class=\"thunews-angle-left\"></i></div>",
                            nextArrow: "<div class=\"sliderbutton next\"><i class=\"thunews-angle-right\"></i></div>"
                        });
                        $('.mod .slidegallery #thunews_tsqh').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                            $(".slidegallery #thunews_tsqh li").removeClass("active");
                            $(".slidegallery #thunews_tsqh li").eq(nextSlide).addClass("active");
                        });


                    })
                </script>
            </section>


            <section class = "mod withborder">
                <h2 class = "red">
                    <span class = "iconwraper"><img src = "" data-src = "/static/images/shi.png" class = "new"><i class = "thunews-line-chart"></i></span>近期热点
                </h2>
                <ul class = "newslist clearfix" id = "resText">
                    <li class = "showonmobile">
                        <figure>
                            <br><br>
                            <span class = "time"><i class = "thunews-clock-o"></i>2019.12.11</span>
                            <figcaption><h3><a href = "#" class = "jiequ">俄罗斯著名导演阿列克谢·杰尼索夫携新作走进清华</a></h3></figcaption>
                        </figure>
                    </li>

                    <li class = "showonmobile">
                        <figure>
                            <span class = "time"><i class = "thunews-clock-o"></i>2019.12.11</span>
                            <figcaption><h3><a href = "#" class = "jiequ">【组图】2019清华大学冬季迷你马拉松赛圆满收官</a></h3></figcaption>
                        </figure>
                    </li>
                    <li class = "showonmobile">
                        <figure>
                            <span class = "time"><i class = "thunews-clock-o"></i>2019.12.10</span>
                            <figcaption><h3><a href = "#" class = "jiequ">2019年清华大学高校思想政治工作创新发展中心论坛举行</a></h3>
                            </figcaption>
                        </figure>
                    </li>
                    <li class = "showonmobile">
                        <figure>
                            <span class = "time"><i class = "thunews-clock-o"></i>2019.12.10</span>
                            <figcaption><h3>
                                <a href = "/publish/thunews/10303/2019/20191210162259645480319/20191210162259645480319_.html" class = "jiequ">【学风建设年】李路明
                                    杜建镔 张宇飞：传承优秀教学文化</a></h3></figcaption>
                        </figure>
                    </li>
                    <li class = "showonmobile">
                        <figure>
                            <span class = "time"><i class = "thunews-clock-o"></i>2019.12.10</span>
                            <figcaption><h3><a href = "#" class = "jiequ">各院系研究生深入开展特色主题活动 传承发扬“一二·九”精神</a></h3>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
            </section>
        </section>


    </div>
</div>
<footer>
    <div class = "mainWrap clearfix">
        <section>
            <div class = "thulogo"><img src = "" data-src = "/static/images/thulogo.png"></div>
            <div class = "copyright">
                <span><a href = "https://www.hznu.edu.cn/xnxsg/">网上校史馆</a>　│　<a href = "http://paper.hznu.edu.cn/">校报</a>　│　<a href = "http://xiaoyou.hznu.edu.cn/">师大校友</a>　│　<a href = "https://it.hznu.edu.cn/hznu/" target = "_blank">智慧校园APP</a></span>
                地址：浙江省杭州市余杭区仓前街道余杭塘路2318号　邮编：311121 联系电话：0571-28865012<br>
                本科招生热线: 0571-28865193 研究生招生热线：0571-28865143<br>
                公安备案号 33011002011919 浙ICP备11056902号 版权所有 杭州师范大学 Copyright © 2008 All rights reserved.
            </div>
            <div class = "weiye"><img src = "" data-src = "/static/images/xiaoxun.png"></div>
        </section>
    </div>
</footer>

<script src = "{% static 'js/base.js' %}"></script>
</body>
</html>
