{% load static %}
<!doctype html>
<html>
<head>
    <meta charset = "utf-8">
    <title>杭州师范大学-学科建设</title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1" />
    <link href = "{% static '/css/base.css' %}" rel = "stylesheet" type = "text/css">
    <link rel = "shortcut icon" type = "image/x-icon" href = "{% static 'images/favicon.png' %}">
    <link href = "{% static '/css/inner.css' %}" rel = "stylesheet" type = "text/css">
    <script src = "{% static '/js/jquery-1.8.3.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static '/css/slick.css' %}">
    <script src = "{% static '/js/slick.min.js' %}" type = "text/javascript"></script>

    <link rel = "stylesheet" href = "{% static '/css/owl.carousel.css' %}">

</head>
<body>
<header class = "clearfix">
    <section class = "mainWrap">
        <div class = "topwraper relative clearfix">
            <div class = "ulink">
                <ul class = "clearfix">
                    <li class = "socialnet">
                        <a href = "https://weibo.com/u/1743321831?is_hot=1" class = "circle" title = "微博" target = "_blamk"><img src = "/static/images/weibo.png" class = "circle" alt = ""></a>
                    <li class = "socialnet">
                        <a href = "javascript:;" class = "circle" title = "微信"><img src = "/static/images/weixin.png" class = "circle" alt = ""></a>
                        <div class = "socialwraper">
                            <i><em></em></i><img src = "/static/images/weixinpg.png" width = "150px" alt = ""></div>
                    </li>
                    <li class = "socialnet">
                        <a href = "https://lib.hznu.edu.cn/" class = "circle" title = "图书馆"><img src = "/static/images/book.png" class = "circle" alt = ""></a>
                    </li>
                    <li class = "mr"><a href = "https://english.hznu.edu.cn/" class = "en" target = "_blank">ENGLISH</a>
                    </li>
                    <li class = "mr"><a href = "/home" class = "en" target = "_blank">杭师主页</a></li>
                </ul>
            </div>
            <a href = "#" class = "logo"><img src = "/static/images/logo.png" alt = "logo"></a>


            <nav class = "navwrap yahei">
                <section class = "mainWrap">
                    <div id = "smenu" class = "smenu"><i class = "thunews-bars"></i></div>
                    <ul id = "nav">
                        <li><a href = "/home" class = "item0">首页</a></li>
                        <li><a href = "/xinWen" class = "item0">师大新闻</a></li>
                        <li><a href = "/xiaoYuan" class = "item0">学科建设</a></li>
                        <li><a href = "/renWu" class = "item0">杭师人物</a></li>
                        <li><a href = "/picture" class = "item0">图说杭师</a></li>
                    </ul>
                </section>
            </nav>

            <!--	 <a href="javascript:;" onclick="searchSub();"><i class="thunes-search"></i></a>-->

        </div>
    </section>
</header>


<div class = "content yahei subchannel">
    <div class = "mainWrap clearfix">
        <section class = "colunm1">
            <h2 class = "channeltitle noborder hideonpc">校园风光</h2>
            <div class = "biggallery">


            </div>

            <script>
                $(function () {
                    $("#loadxyxy").load("/publish/thunews/xyxy_tt.html")
                })
            </script>

            <nav class = "enav clearfix p_1" id = "dqwz">
                <div id = "subsmenu" class = "subsmenu"><i class = "thunews-bars"></i></div>

                <ul id = "fybq">
                    <li class = "item9654"><a href = "/xiaoYuan">全部</a></li>
                    <li class = "item9665"><a href = "/xiaoYuanGF">国服学院</a></li>
                    <li class = "item9666 current"><a href = "">教育学院</a></li>
                    <li class = "item9667"><a href = "/xiaoYuanLX">理学院</a></li>
                    <li class = "item9668"><a href = "/xiaoYuanSJR  ">沈钧儒法学院</a></li>
                </ul>
            </nav>


            <ul class = "timenewslist">
                {% for article in articles %}
                        <li class = "clearfix">
                            <div class = "mtime">
                                <span><font class = "dd" id = "dd-1">{{ article.create_time|date:"d" }}</font></span>
                                <font class = "ym" id = "ym-1">{{ article.create_time|date:"Y-m" }}</font>
                            </div>
                            <div class = "newscontent">
                                <h3>
                                    <a href = "/show/{{ article.id }}" target = "_blank" class = "jiequ">{{ article.title }}</a>
                                </h3>
                                <p>
                                {% autoescape off %}
                                    {{ article.content | slice:"20" }}
                                {% endautoescape %}
                                </p>
                            </div>
                        </li>
                {% endfor %}
            </ul>
        </section>

        <!--<a id="mobilemore" class="mobilemore" href="javascript:;">... 加载更多 ...</a>-->
        <section class = "colunm2">

            <section class = "mod">
                <h2><a href = "/publish/thunews/9652/index.html" class = "more" target = "_blank">更多
                    &#8250;</a><span class = "iconwraper"><img src = "/static/images/hang.png" class = "new"><i class = "thunews-picture-o"></i></span>杭师瞬间
                </h2>

                <div class = "slidegallery">
                    <ul id = "thunews_tsqh">
                        <li class = "active"><a><img src = "/static/images/tu13.jpg"></a></li>
                        <li><a><img src = "/static/images/tu3.jpg"></a></li>
                        <li><a><img src = "/static/images/tu7.jpg"></a></li>
                        <li><a><img src = "/static/images/tu8.jpg"></a></li>
                    </ul>
                </div>
                <script type = "text/javascript">

                    $(function () {

                        $('.mod .slidegallery #thunews_tsqh').slick({
                            infinite: true,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            centerMode: false,
                            prevArrow: "<div class=\"sliderbutton prev\"><i class=\"thunews-angle-left\"></i></div>",
                            nextArrow: "<div class=\"sliderbutton next\"><i class=\"thunews-angle-right\"></i></div>"
                        });
                        $('.mod .slidegallery #thunews_tsqh').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                            $(".slidegallery #thunews_tsqh li").removeClass("active");
                            $(".slidegallery #thunews_tsqh li").eq(nextSlide).addClass("active");
                        });


                    })
                </script>
            </section>


            <section class = "mod withborder">
                <h2 class = "red">
                    <span class = "iconwraper"><img src = "/static/images/shi.png" class = "new"><i class = "thunews-line-chart"></i></span>近期热点
                </h2>
                <ul class = "newslist clearfix" id = "resText">
                    {% for hot_spot in hot_spots %}
                        <li class = "showonmobile">
                            <figure>
                                <br><br>
                                <span class = "time"><i class = "thunews-clock-o"></i>{{ hot_spot.create_time }}</span>
                                <figcaption><h3>
                                    <a href = "/show/{{ hot_spot.id }}" class = "jiequ">{{ hot_spot.title }}</a></h3>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}

                </ul>
            </section>
        </section>

    </div>
</div>
<footer>
    <div class = "mainWrap clearfix">
        <section>
            <div class = "thulogo"><img src = "/static/images/thulogo.png"></div>
            <div class = "copyright">
                <span><a href = "https://www.hznu.edu.cn/xnxsg/">网上校史馆</a>　│　<a href = "http://paper.hznu.edu.cn/">校报</a>　│　<a href = "http://xiaoyou.hznu.edu.cn/">师大校友</a>　│　<a href = "https://it.hznu.edu.cn/hznu/" target = "_blank">智慧校园APP</a></span>
                地址：浙江省杭州市余杭区仓前街道余杭塘路2318号　邮编：311121 联系电话：0571-28865012<br>
                本科招生热线: 0571-28865193 研究生招生热线：0571-28865143<br>
                公安备案号 33011002011919 浙ICP备11056902号 版权所有 杭州师范大学 Copyright © 2008 All rights reserved.
            </div>
            <div class = "weiye"><img src = "/static/images/xiaoxun.png"></div>
        </section>
    </div>
</footer>
</body>
</html>
